h1{
  font-weight: 600;
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 20px;
}

input{
  width: 100%;
}

.DeleteComp-container{
  text-align: left;
}

.samp-row{
  margin: 10px 5px;
}

.samp-btn{
  min-width: 195px;
}